* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #002766;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main {
    padding: 5px;
    width: 100%;
    height: 100%;
    position: relative;
}

 .main > button {
    margin: 7px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    text-decoration: none;
    background-color: #002766;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    border: none;
}

button:hover {
    border: solid 5px #003283;
    border-radius: 5px;
    background-color: #003283;
    cursor: pointer;
}